* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(248, 166, 98), rgb(58, 74, 168));
  color: white;
}
.location {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.condition-container {
  flex-direction: column;
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.degreesSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degreesSection span {
  margin: 10px;
  font-size: 30px;
}
.degreesSection p {
  font-size: 40px;
}

.conditionSection {
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.conditionSection span {
  margin: 5px;
  /* font-size: 30px; */
}
.conditionSection p {
  font-size: 20px;
}

/* if syntax is not correct it will need the . in the js on lines 4-5+ */
