* {
  /* border: 2px solid green; */
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgb(25, 67, 107), rgb(33, 33, 141));
  color: white;
}
.location {
  height: 10%;
  margin: 1% 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;
  text-shadow: 2px 2px #001a3b;
}
.location p{
margin: -1% 0;
  font-size: 20px;
}

.degreesSection {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  width: 20%;
}

.icons{
  width: 40%;
  display: flex;
  margin: 5% 1%;
}

.degreesSection span {
  margin: 0 0 60px;
  font-size: 18px;
}
.degreesSection p {
  font-size: 80px;
}

.conditionSection {
  width: 50%;
}
.conditionSection {

  flex-direction: row;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.conditionSection span {
  margin: 5px;
  /* font-size: 30px; */
  
}
.conditionSection p {
  font-size: 20px;
  
}


